# ─── SERVER ───────────────────────────────────────────────
NODE_ENV=development
PORT=3000

# ─── DATABASE ─────────────────────────────────────────────
MONGO_URI=

# ─── JWT ──────────────────────────────────────────────────
JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# ─── SMTP ─────────────────────────────────────────────────
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# ─── CLIENT ───────────────────────────────────────────────
CLIENT_URL=

# ─── CLOUDINARY ───────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=